.feature-item {
  padding-bottom: 2.5rem;
  position: relative;
  
  
  @mixin atSmall {
  padding-left: 5.875rem;
  }
  
  
  &__icon {
    display: block;
    margin: 0 auto;
    
    @mixin atSmall {
    left: 0;
    position: absolute;
    }
    
  }
  
  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;
    
    @mixin atSmall {
    font-size: 1.875rem;
    margin-top: 1em;
    text-align: left;
    }
  }
}